/**
* ETML
* Auteur        : Valentin Kaelin
* Date          : 10.09.2018
* Description   : Feuille de style gérant la base des styles
**/
html {
  font-family: "Lato", helvetica, arial, sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  background: #ffffff;

  background-image: url('../images/background.png');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: 800px;
}

body {
  color: #687788;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}
