/**
* ETML
* Auteur        : Valentin Kaelin
* Date          : 29.10.2018
* Description   : Feuille de style pour le composant contenant un texte et une image utilisé sur les pages stats et contact
**/
.block-with-img {
  display: flex;
  margin: 0 0 32px 0;
  background: #fff;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
  border-radius: 3px;
  font-size: 16px;
}

.block-with-img .block-with-img__img {
  flex: 0 0 300px;
  min-height: 300px;
  background: url('../../ressources/images/me.jpg') no-repeat center/cover;
}

.block-with-img.xl .block-with-img__img { /* Block avec une image plus grande : 500px */
  flex: 0 0 500px;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.block-with-img .block-with-img__text {
  width: 100%;
  padding: 32px;
  text-align: justify;
}

@media screen and (max-width: 880px) { /* Sur mobiles et tablettes */
  .block-with-img {
    display: block; /* On enlève le flex */
  }

  .block-with-img .block-with-img__text {
    width: auto; /* Pour annuler le width 100% */
    padding: 16px 32px;
  }

  .block-with-img {
    flex-direction: column;
  }

  .block-with-img.circle .block-with-img__img {
    flex: 0 0 200px;
    min-height: 0; /* Pour annuler le min-height 300px */
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin: 0 auto; /* centrer l'image */
  }
}

/* Différentes images sur la page stats */
.block-with-img__img.byLand {
  background-image: url('../../ressources/images/stats/byLand.PNG');
}

.block-with-img__img.height {
  background-image: url('../../ressources/images/stats/height.PNG');
}

.block-with-img__img.distance {
  background-image: url('../../ressources/images/stats/distance.PNG');
}

.block-with-img__img.open {
  background-image: url('../../ressources/images/stats/openStations.PNG');
}