/**
* ETML
* Auteur        : Valentin Kaelin
* Date          : 20.09.2018
* Description   : Feuille de style gérant les différents boutons du site
**/
.btn {
  background: #fff;
  color: #324355;

  padding: 8px 16px;
  margin: 0;

  border: 1px solid #687788;
  border-radius: 4px;

  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 16px;

  cursor: pointer;
  display: inline-block;
}

.btn:hover,
.btn:active,
.btn:focus {
  text-decoration: none;
  background-color: #e3e3e9;
  color: #2F365F;
}
  
.btn--primary {
  background-color: #2F365F;
  color: #fff;
  border: 1px solid #2F365F;
}

.btn--primary:hover,
.btn--primary:active,
.btn--primary:focus {
  background-color: #091039;
  border-color: #091039;
  color: #fff;
  transition: background 0.1s ease-in;
}

.btn--inline {
  border-radius: 0;
  border-left-width: 0;
}

.btn--shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #dae1e7;
}

.btn--shadow:hover,
.btn--shadow:active,
.btn--shadow:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #f8fafc;
}