/**
* ETML
* Auteur        : Valentin Kaelin
* Date          : 24.09.2018
* Description   : Feuille de style gérant les composants cartes
**/
/*  Card */
.card {
  margin: 0 0 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  background-color: #fff;
}

.card:hover {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.22), 0 5px 15px 0 rgba(0, 0, 0, 0.16);
}

.card__thumb img {
  display: block;
  width: 100%;
  height: 250px;
  border-radius: 3px 3px 0 0;
  object-fit: cover; /* Pour ne pas casser le ratio de l'image on la rogne */
}

.card__text {
  padding: 16px 24px;
}

.card__title {
  font-size: 20px;
  color: #22292F;
  margin-bottom: 5px;
  font-weight: 700;
}

.card__desc {
  font-size: 16px;
  color: #606f7b;
  margin: 0 0 32px 0;
}

.card__footer {
  padding: 0 24px 16px;
}

.card__tag {
  font-size: 14px;
  color: #606f7b;
  padding: 4px 12px;
  margin: 4px 8px 0 0;
  font-weight: 600;
  display: inline-block;
  border-radius: 9999px;
  background-color: #f1f5f8;
  position: relative; /* Pour positionner le tooltip */
}

.card__tag .fas {
  margin-right: 5px;
}

.card__tag:hover {
  color: #2F365F;
}

.card__tag .tooltiptext {
  width: 120px;
  visibility: hidden;
  background-color: #3D4852;
  padding: 4px 0;
  border-radius: 9999px;

  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%); /* le centrer */

  opacity: 0;
  transition: opacity 0.3s;
}

.card__tag .tooltiptext::after { /* Triangle du tooltip */
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px; /* le centrer */
  border: 5px solid transparent;
  border-top-color: #3D4852;
}

.card__tag:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/*  Cards deck */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 0 64px 0;
}

.card {
  width: 100%; /* Sur mobile */
}

@media screen  and (min-width: 600px) {
  .card {
    float: left;
    width: calc(50% - 16px); /* On met pas exactement 50% pour laisser de l'espace entre les cartes */
  }
}

@media screen  and (min-width: 1000px) {
  .card {
    width: calc(33% - 16px);
  }
}