/**
* ETML
* Auteur        : Valentin Kaelin
* Date          : 17.09.2018
* Description   : Feuille de style gérant la navigation principale du site
**/

header {
  display: flex;
  margin: 25px 0 10px 0;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  background-color: #2F365F;
}

.header-content {
  width: 900px;
  margin: 0 auto;
}

.header-content .header__logo {
  width: 150px;
  position: absolute;
  margin-top: -22px;
}

.header-content .global-nav {
  list-style: none;
  margin: 0 30px 0 0;
  padding: 0;
  text-align: center;
  float: right;
}

.header-content .global-nav__element {
  margin: 0 5px;
  transform: skewX(-10deg);
  display: inline-block;
}

.header-content .global-nav a {
  padding: 10px 20px;
  color: #2F365F;
  text-decoration: none;
  background-color: #eee;

  display: block;
  transition: all 0.5s;
}

.header-content .global-nav a:hover {
  color: #fafafa;
  background-color: #2F365F;
}

.header-content .img-nav,
.header-content .text-nav{
  transform: skewX(10deg);
  font-size: 1.5rem;
}

.header-content .img-nav {
  width: 45px;
  height: 45px;
  background-size: 45px;
  margin: 2.5px auto;
  transition: all 0.5s;
}

.header-content .img-home {
  background-image: url('../../ressources/images/navbar/home.png');
}

.header-content .img-stats {
  background-image: url('../../ressources/images/navbar/stats.png');
}

.header-content .img-contact {
  background-image: url('../../ressources/images/navbar/contact.png');
}

.header-content .img-passion {
  background-image: url('../../ressources/images/navbar/mountains.png');
}

.header-content .global-nav__element:hover .img-nav {
  background-position: 0 -45px;
  transition: all 0.5s;
}

/* RESPONSIVE */
.toggle-mobile,
.page-name {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .header-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
  }

  .global-nav {
    display: none;
  }

  .header-content .header__logo {
    position: static;
    width: 50px;
    height: 50px;
    margin: 0;
  }

  .page-name {
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    margin-left: 15px;
  }

  .toggle-mobile {
    display: block;
    margin-left: auto;
    color: #eee;
    font-size: 2.7rem;
  }
}
