/**
* ETML
* Auteur        : Valentin Kaelin
* Date          : 17.09.2018
* Description   : Feuille de style gérant la navigation principale du site
**/

header {
  position: absolute;
  width: 100%;
  z-index: 10000;
  height: auto;
  margin-top: 25px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  background-color: #2F365F;
  margin-bottom: 10px;
  padding: 0px 0px;
}

#header-content {
  width: 900px;
  margin: auto;
}

header .logo {
  width: 150px;
  position: absolute;
  float: left;
  z-index: 10000;
  margin-top: -22px;
}

#header-content ul {
  list-style: none;
  margin: 0 30px 0 0;
  padding: 0;
  text-align: center;
  float: right;
}

#header-content li {
  margin: 0 5px;
  transform: skewX(-10deg);

  display: inline-block;
  transition: all 0.5s;
}

#header-content a {
  padding: 10px 20px;
  color: #2F365F;
  text-decoration: none;
  background-color: #eee;

  display: block;
  transition: all 0.5s;
}

#header-content a:hover {
  color: #fafafa;
  background-color: #2F365F;
}

#header-content span {
  display: block;
  transform: skewX(10deg);

  /* TODO: change it */
  font-size: 1.5rem;
}

.img-home {
  width: 45px;
  height: 45px;
  background-size: 45px;
  background-position: 0 0;
  margin: 2.5px auto;
  transition: all 0.5s;
  background-image: url(http://kalane.ch/yolo/yolo-1.png);
}

.img-contact {
  width: 40px;
  height: 40px;
  background-size: 40px;
  margin: 5px auto;
  transition: all 0.5s;
  background-image: url(http://kalane.ch/yolo/yolo-1.png);
}

.home:hover .img-home {
    background-position: 0 -47px;
    transition: all 0.5s;
}
