/**
* ETML
* Auteur        : Valentin Kaelin
* Date          : 10.09.2018
* Description   : Feuille de style gérant les classes helpers
**/
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.bare-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mt-64 {
  margin-top: 64px;
}

.border-l {
  border-left: 7px solid #2F365F;
  padding-left: 5px;
}
