/**
* ETML
* Auteur        : Valentin Kaelin
* Date          : 10.09.2018
* Description   : Feuille de style spécifique à la page d'accueil du site
**/
.see-more {
    border-top: 1px solid #e3e5e9;
    padding: 16px 0;
    text-align: center;
}
