/**
* ETML
* Auteur        : Valentin Kaelin
* Date          : 10.09.2018
* Description   : Feuille de style spécifique à la page d'accueil du site
**/

/*body, html {
    height: 100vh;
    overflow: hidden;
}

.wave {
    background: url("../images/wave.svg") repeat-x;
    width: 12800px;
    height: 198px;
    position: absolute;
    bottom: 0;
    transform: translate3d(0, 0, 0);
    animation: run 10s linear infinite;
}

.wave-2 {
    background: url("../images/wave.svg") repeat-x;
    width: 12800px;
    height: 198px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    animation: run2 10s linear infinite;
}

@keyframes run {
    0% { margin-left: 0;}
    100% { margin-left: -1600px;}
}

@keyframes run2 {
    0% { margin-right: 0;}
    100% { margin-right: -1600px;}
}*/
