/**
* ETML
* Auteur        : Valentin Kaelin
* Date          : 10.09.2018
* Description   : Feuille de style spécifique à la page d'accueil du site
**/
.masthead {
  /*background: #afbac4 url('../images/masthead.jpg') no-repeat 50% 50%/cover;*/
  background: #afbac4 url('../images/masthead-min.jpg') no-repeat 50% 50%/cover;
  border-bottom: 1px solid #e3e5e9;
  padding: 16px 0;
  margin: 0 0 6.4rem;
}

@media screen and (min-width: 720px) {
  .masthead {
      padding: 128px 0 160px;
  }
}

.masthead h1 {
  text-align: center;
  color: #fff;
  font-weight: 600;
}


.masthead .input-inline__label {
  color: #fff;
}

.see-more {
    border-top: 1px solid #e3e5e9;
    padding: 16px 0;
    text-align: center;
}
