/**
* ETML
* Auteur        : Valentin Kaelin
* Date          : 01.10.2018
* Description   : Feuille de style spécifique à la page sur les stations
**/
.block-desc {
  background: #fff;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);

  border-radius: 3px;
  font-size: 16px;

  padding: 32px;
  margin: 0 0 32px 0;
  position: relative;
}

.block-desc:hover {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.22), 0 5px 15px 0 rgba(0, 0, 0, 0.16);
}

.block-desc:hover::after {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.22);
}

.block-desc::after { /* Triangle en dessous */
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.11);
}

#filters {
  display: none; /* On l'affiche seulement si le JS est activé */
}

.btn-group {
  margin: 0 0 16px 0;
}

.btn-group .btn {
  margin: 0 0 5px 0;
}

.btn-group .btn:focus {
  outline: none;
}