/**
* ETML
* Auteur        : Valentin Kaelin
* Date          : 10.09.2018
* Description   : Feuille de style gérant les styles des différents textes
**/
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

p, ul, ol, span, label {
  font-size: 16px;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
  color: #324355;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 48px;
  }
}

h2, .h2-like {
  font-size: 30px;
  line-height: 1.2;
  color: #324355;
}

@media screen and (min-width: 480px) {
  h2, .h2-like {
    font-size: 36px;
  }
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  color: #324355;
}

a {
  color: #2F365F;
  text-decoration: none;
}

a:hover,
a:active {
  color: #5461aa;
  text-decoration: underline;
}